.restaurant-detail {
  text-align: center;
  margin: 0 auto;
  color:#f0f0f0f;
  font-family: 'Montserrat', sans-serif;
  width:80%;
}

.restaurant-booking {
  text-align: center;
  margin: auto;
  color:#f0f0f0f;
  font-family: 'Montserrat', sans-serif;
  width:80%;
}


.restaurant-name{
  font-size: 30px;
  padding: 10px;
  text-align: left;
}

.restaurant-subtitle{
  text-align: left;
  color:#FF473A;
  font-size:20px;
  padding-bottom:20px;
}

.details {
  padding: 15px;
  font-size:13px;
  margin: auto;
  text-align: left;
}

#detail-picture{
  width:100%;
  height:auto;
}

#btn-booking-page{
  margin:20px;
}
