.nav{
  font-family: 'Montserrat', sans-serif;
}

#header-logo{
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 27px;
  color:#EB5757;
}

.navbar-default .navbar-brand{
  color:#FF473A;
}

.navbar-default .navbar-nav>li>a{
  color:#FF473A;
}

.home-title{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding:50px 0px 20px 0;
  opacity:0.9;
}

.home-description{
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  text-align: center;
  opacity:0.9;
}


.restaurant-detail {
  text-align: center;
  margin: 0 auto;
  color:#f0f0f0f;
  font-family: 'Montserrat', sans-serif;
  width:80%;
}

.restaurant-booking {
  text-align: center;
  margin: auto;
  color:#f0f0f0f;
  font-family: 'Montserrat', sans-serif;
  width:80%;
}

.restaurant-list-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  margin: auto;
  text-align: center;
  color:#FF473A;
  margin:30px 0 20px 0;
}

.restaurant-name{
  font-size: 30px;
  margin: auto;
  padding: 30px 0 20px 0;
  text-align: center;
  color:#FF473A;

}

.restaurant-subtitle{
  text-align: center;
  color:#FF473A;
  font-size:20px;
  padding-bottom:20px;
}

.restaurant-description {
  padding: 15px;
  font-size:13px;
  margin: 0 auto;
  display: block;
  text-align: left;
  width:57%;
}

#detail-picture{
  width:600px;
  height:auto;
  margin: auto;
}

#btn-booking-page{
  margin:20px;
  background-color:#EB5757;
  border-radius: 10px;
  color:white;
}

.form-control{
  width:200px;
  margin: auto;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding:15px;
}

.booking-form{
border: 1px solid #ddd;
border-radius: 20px;
padding:25px;
width:320px;
margin: auto;
}

.success-page {
  font-family: 'Montserrat', sans-serif;
  color:#EB5757;
  text-align: center;
  margin:50px;
}

.thankyou img{
  text-align: center;
  margin:0 auto;
  width:320px;
  height:auto;
  padding:50px 0;
  opacity:0.8;
  border-radius:500px;
}

.restaurant-list-ul{
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  width:430px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding:15px;
}

.restaurant-list-li{
  text-align: center;
  padding-right: 10px;
  list-style:none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}
