<!DOCTYPE html>
<html>
  <head>
    <title>Create Restaurant</title>
  </head>
  <body>
    <h1>Create Restaurant</h1>
    <form action="/api/restaurant" method="Post">
      <input type="text" name="name" placeholder="Name" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="text" name="picture" placeholder="Picture" />
      <input type="number" name="seat_amt" placeholder="Picture" />
      <input type="text" name"description" placeholder="Description" />
      <input type="submit">Submit</input>
    </form>
  </body>
</html>
